.container{
    margin-top: -10px;
}
.writeButton{
    margin-bottom: 10px;
}
.board-link{
    color: black;
    /*border: none;*/
}
.board-link:hover{
    color: black;
    cursor: pointer;
    /*text-decoration: none;*/
}
